sklearn
nltk
gensim
pandas
fugashi
mecab-python3
unidic-lite
transformers==4.3.2
openpyxl
torch
xlwt
datasets
sentencepiece
protobuf
rank_bm25
seaborn
vncorenlp
flask
flask_restful
pyyaml==5.4.1 
underthesea
pyvi
easydict
Flask-PyMongo